@font-face {
    font-family: "Zoho_Puvi_Regular";
    src: url("Zoho Puvi Regular.ttf") format("truetype");
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*{
  max-width: -webkit-fill-available;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  font-family: "Zoho_Puvi_Regular";
  font-size: 14px;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style-type: none;
}
#sidebar{
    width: 264px;
    height: 100vh;
    background-color: #282828;
    color: white;
    padding: 8px;
}
.sidebar-header{
    border-bottom: 2px solid #242424;
    margin: 0 -8px;
}
.sidebar-header img{
    width: 42px;
    height: 42px;
    position: relative;
}
.workspace-name{
    top: 20px;
    position: absolute;
    left: 50px;
    font-size: 18px;
}
.zwd-icon-20 {
    width: 20px !important;
    height: 22px !important;
}
.sidebar-nav ul{
    padding: 12px;
    fill: white;
}
.sidebar-nav li{
    padding: 12px;
    padding-top: 8px;
    padding-left: 0px;
    width: 250px;
    display: flex;
    justify-content: space-between;
}
.slidebar-item {
  display: flex;
  align-items: center;
  gap: 6px; 
}
.slidebar-item i{

    fill: white;
}
.zwd-icon {
  display: flex;
  align-items: center;
}

.slidebar-item span{
    font-size: 16px;
    padding-left: 6px;
}

.top-menu {
    position: absolute;
    top: 0px;
    left: 300px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 83%;
    justify-content: space-between;
    align-items: center;
}
.left-menu {
    display: flex;
    width: 221px;
    justify-content: space-between;
    align-items: center;
}
.file-path svg{
    width:1.2em;
}
.file-path-name {
    display: flex;
    align-items: center;
    width: 501px;
}
.zwd-header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.zwd-icon-left svg {
    width: 24px;  
    height: 24px; 
}
.content floated left {
    font-size: 16px;
}
.zwd-button-top-header{
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    border: 1px solid #cacbcd;
    width: 102px;
    height: 28px;
}
.zwd-button-top-header i{
    width:16px;
}
.zwd-button-top-header span {
    font-size: 12px;
}
.right-menu{
    display: flex;
    flex-direction: row;
    gap: 15px;

}
.right-menu i{
   
   width: 18px;;
}
.right-menu button{
    border: none;
    background-color: transparent;
}
.right-menu .profile{
    background-color: #983267;
    width: 35px;
    height: 35px;
    border-radius: 20px;

}
.right-menu .profile p{
    color: white;
}
.manageDropdown{
    z-index: 2;
}

.dropdown-content {  
  display: none;                  
  position: absolute;                
  background-color: white;            
  width: 200px;                   
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); 
  z-index: 1;                
  border-radius: 4px;    
  top: 40px;
  left: 120px;
}


.dropdown-content a {
  color: black;                       
  padding: 12px 16px;                
  text-decoration: none;            
  display: block;                    
}


.dropdown-content a:hover {
  background-color: #ddd;            
}

.secondary-menu{
    position: absolute;
    top: 46px;
    left: 300px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 83%;
    justify-content: space-between;
}
button{
    border:none;
    background-color: transparent;
}
.secondary-menu i{
    width:20px;
    color: #4f4f4f;
    fill:#4f4f4f;
}
.secondary-menu .zwd-button{
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    border: 1px solid #cacbcd;
    width: 50px;
    border-radius: 3px;
    height: 30px;
}
.secondary-menu .left-menu{
    width:100px;
}
.secondary-menu .right-menu {
    display: flex;
    justify-content: center;   
    align-items: center;                      
}

.right-menu .primary-button {
    width: 79px;
    height: 33px;
    background-color: #2c66dd;
    color: white;
    display: flex;
    justify-content: center;   
    align-items: center;   
    border-radius: 5px;   
}

.primary-button i {
    fill: white;
    margin-right: 5px;          
}
.primary-button:hover{
    background-color: #1e52bb
;
}
.right-menu p {
    margin: 0;                 
}
.header-column{
    position: absolute;
    top: 90px;
    left: 300px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 83%;
    justify-content: space-between;
    align-items: center;
}
.header-column button .checkbox {
  visibility: hidden;
}

.header-column:hover button .checkbox {
  visibility: visible;
}

.checkbox{
    fill: #4f4f4f;
    width: 20px;
    height: 20px;
    visibility: hidden;
}
.zwd-item:hover .checkbox{
    visibility: visible;
}
.name-header{
    display: flex;
    padding-left: 10px;
}
.name{
    display: flex;
    align-items: center;
}
.last-modified{
    width:400px;
}
.last-modified button{
    display: flex;
    align-items: center;
}
.sidebar-new {
    display: none;
    width: 250px;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 35px;
    right: 141px;
    z-index: 3;
}
.folder-btn:hover, .upload-file-btn:hover, .upload-folder-btn:hover {
   background-color: rgba(100, 97, 97, 0.4);
}

.menu-item {
  margin: 10px;
}

.folder-btn {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: 999; 
  display: none; 
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 672px;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    height: 200px;
}
.modal h3{
    font-size: 19px;
    font-weight: bold;
}
foldercreation{
    margin-top: 20px;
}
.overlay.active, .modal.active {
  display: block;
  opacity: 1;
}

.modal input[type="text"] {
  width: 624px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.modal button {
  padding: 10px 20px;
  background-color: #2c66dd;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
#cancel{
    border: 1px solid #cacbcd;
    background-color: transparent;
    color: black;
}
.modal button:hover{
   background-color: #1e52bb
}

.sidebar-sort {
    display: none;
    width: 200px;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 37px;
    right: 96px;
    z-index: 3;
}
.sidebar-sort .menu-item{
    padding: 0px;
}
    
.menu-item{
    padding: 7px;
}
.menu-item .folder-btn{
    background-color: #f9f9f9;
}
.menu-item button{
    width: 100%;
    padding: 10px;
    text-align: left;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}
.menu-item button:hover{
   background-color: #f9f9f9;
}
.shortcut{
    font-size: 12px;
    color: #888;
}

#file-listing {
    position: absolute;
    top: 140px;
    left: 300px;
    width: 82%;
}
#file-listing  .zwd-item{
   display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px; 
    border-top: 1px solid #ccc; 
    width: 100%;
}

.zwd-content{
    display:flex;
    gap:10px
}

.img-content {
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 0px;
    padding-left: 5px;
}
.thumbnail {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; 
  display: block;
}
.info-content{
    gap: 3px;
    display: flex;
    flex-direction: column;
}

.uploaded-info{
    font-size: 13.5px;
    color: #4f4f4f;
}
.Modified-date{
    font-size: 14px;
    color: #4f4f4f;
    width: 369px;
}

.custom-checkbox {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #4f4f4f;
    border-radius: 4px;
    cursor: pointer;
    visibility: hidden;
    position: relative;
}
.zwd-item:hover .custom-checkbox{
    visibility: visible;
}
.custom-checkbox:checked {
  background-color: #2c66dd; 
  border: 2px solid #2c66dd;  
}
.img-content svg{
  fill: #2c66dd; 
}
.custom-checkbox:checked::before {
    content: '';
    position: absolute;
    left: 3px;
    top: -1px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    z-index: 3;
}
.icon-selection{
    width: 14px;
    height: 14px;
    display: block;
    background-color: #2c66dd;
    position:relative;

}
.icon-selection::after {
    content: "";
    top: 6px;
    left: 3px;
    width: 6px;
    border-width: 4px;
    border: 1px solid white;
    position: absolute;
}
.selection-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 90px;
    left: 300px;
    margin-top: 10px;
    width: 83%;
    align-items: center;
    visibility: hidden;
}
.selection-section{
    display: flex;
    flex-direction: row;
}
.buttons {
    width: 106px;
    height: 32px;
    border: 1px solid #254993;
    color: #254993;
    background-color: transparent;
    border-radius: 5px;
}
#more-actions{ 
    width: 32px;
    height: 32px;
    position: relative;
}
.buttons svg {
    width: 1.4em;
    height: 1.4em;
    vertical-align: middle;
    fill:#254993;
    
}
.interaction-buttons{
    display: flex;
    flex-direction: row;
    gap:6px;
}
#share-button:hover,#copy-link-button:hover,#download-button:hover,#more-actions:hover{
    background-color: #eaefff;
}
#esc-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60px;
    gap: 5px;
    border: 0px;
    background-color: transparent;
}
#esc-button svg{
    fill: black;
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
}
/* preview page css */
    .header {
      background-color: #ffffff;
      border-bottom: 1px solid #ddd;
      padding: 10px 20px;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
    }

    .file-name {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 5px;
    }

    .breadcrumbs {
    font-size: 14px;
    color: #444;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

    a {
      text-decoration: none;
    }
    .breadcrumbs i svg{
        width:1.4em;
        height: 1.4em;
    }
    .top-buttons {
      position: absolute;
      right: 100px;
      top: 15px;
      display: flex;
      gap: 10px;
    }

    .top-buttons button {
      cursor: pointer;
      font-size: 13px;
    }

    .top-buttons button:hover {
      background-color: #e2e6ea;
    }

    .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    margin: auto;
    margin-top: -850px;
}

    .image-container {
      /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); */
      /* background-color: white; */
      padding: 16px;
      border-radius: 6px;
      width: 100%;
      height: 100%;
    }

    .image-container img {
      width: 50%;
      height: 100%;
      margin: auto;
      display: block;
    }
    .img-icon svg {
    width: 32px;
    height: 32px;
    fill: #555;
    }
    #img-preview{
        visibility: hidden;
    }
    .arrow{
        display: flex;
    }
    .menu {
      width: 220px;
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 6px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      padding: 4px 0;
      font-family: sans-serif;
      position: absolute;
      visibility: hidden;
      z-index: 1000;
    }
    #context-menu{
      top: 33px;
      left: 940px;
    }
    #manage-context-menu {
     position: absolute;
     top: 32px;
     left: 112px;
    }

    .menu-item {
    display: flex;
    align-items: center;
    padding: 8px 14px;
    cursor: pointer;
    }

    .menu-item:hover {
    background: #f5f5f5;
    }

    .menu-icon {
    display: flex;
    margin-right: 12px;
    }

    .menu-icon svg {
    width: 22px;
    height: 22px;
    fill: #555;
    }

    .menu-text {
    flex-grow: 1;
    font-size: 14px;
    color: #222;
    }

    .menu-shortcut {
    font-size: 12px;
    color: #999;
    }

    .divider {
    height: 1px;
    background: #eee;
    margin: 4px 0;
    }
.trash-menu .menu-text {
  color: #d9534f;
}
.trash-menu:hover {
  background: #fdeaea;
}
.trash-menu svg {
  fill: #d9534f;
}
#trash-menu{
    z-index: 1000;
}
/* ///this css */

.manage-content{
    padding:20px;
  }
    .topbar {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.folder-icon {
  width: 24px;
  height: 24px;
}

.title-myfolders {
  font-weight: bold;
  font-size: 16px;
}

.close-icon {
  margin-left: auto;
}
.close-icon svg{
    fill:black;
    width:20px;
    
}
.center-section {
  text-align: center;
}

.tabs {
  display: inline-flex;
  justify-content: center;
  gap: 0;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-bottom: none;
}

.tab {
  min-width: 160px;
  text-align: center;
  padding: 14px 0;
  color: #444;
  font-size: 14px;
  cursor: pointer;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.tab:last-child {
  border-right: none;
}

.tab svg {
  width: 18px;
  height: 18px;
  stroke: #444;
}

.tab.selected {
  color: #0b5ed7;
  position: relative;
}

.tab.selected svg {
  stroke: #0b5ed7;
}

.tab.selected::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: #0b5ed7;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  max-width: 800px;
  margin: 0 auto 10px auto;
}

.search {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 6px 10px;
  border-radius: 4px;
  width: 300px;
}

.search input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
}

.search button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 14px;
  color: #999;
}

.btn {
  border: 1px solid #ddd;
  padding: 6px 12px;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
  font-size: 13px;
}

.thead,
.row {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 0;
}

.thead {
  border-bottom: 1px solid #ddd;
  color: #666;
  font-size: 13px;
}

.row {
  align-items: center;
  border-bottom: 1px solid #f9f9f9;
}

.file-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.file-thumb {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0fdf4;
  border: 1px solid #d1e7dd;
  border-radius: 4px;
}

.file-meta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.file-name {
  font-weight: normal;
}

.file-sub {
  font-size: 13px;
  color: #666;
  margin-top: 2px;
}

.trashed-time {
  font-size: 13px;
  color: #666;
  text-align: right;
}
/* keep user-select off globally, but allow pointer for interactive controls */
* { user-select: none; cursor: default; }

/* make menu items clickable again */
.menu-item, .menu-item * , #trash-menu {
  cursor: pointer;
  pointer-events: auto;
}

/* if an overlay is used for modals, make sure it doesn't block clicks when hidden */
.overlay { pointer-events: none; }         /* OK while hidden */
.overlay.active { pointer-events: auto; }  /* when actually shown, it should block clicks */
.actions {
  width: 80px;
  text-align: right;
  display: none;
  gap: 8px;
  justify-content: flex-end;
}

.row:hover .actions {
  display: inline-flex;
}

.actions button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
}
.actions svg {
  width: 18px;
  height: 18px;
  stroke: #444;
}
.actions button:hover svg {
  stroke: #0b5ed7;
}



  /* Overlay */

#over {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

#over.active {
  opacity: 1;
  pointer-events: auto;
}


/* Share Dialog */

.share-dialog {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
  width: 420px;
  padding: 16px 24px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.share-dialog.active {
  opacity: 1;
  pointer-events: auto;
}

/* Other styles */

.share-header {
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  font-weight: 700;
  font-size: 20px;
  color: #666;
  cursor: pointer;
  border: none;
  background: none;
  line-height: 1;
}

.input-row {
  display: flex;
  gap: 8px;
}

.input-email {
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 8px 10px;
  font-size: 14px;
}

.access-level {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 8px 6px;
  font-size: 14px;
  background: #f7f7f7;
  cursor: pointer;
  display: flex;
  align-items: center;
  min-width: 90px;
}

.access-level select {
  border: none;
  background: transparent;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

