.modal-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal-content {
    background-color: #1D1F22;
    padding: 24px;
    border-radius: 4px;
    width: 343px;
    color: white;
}

.modal-actions {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.delete-theme {
    background-color: #E46643;
}

.primary-theme {
    background-color: #5A6069; 
}

.confirm-btn, .cancel-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}