.editor-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #151619;
}

.editor-header {
    height: 42px;
    background-color: #1D1F22;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.editor-header p {
    color: #7C8187;
    font-size: 14px;
    letter-spacing: 2px;
    margin: 0;
}


.editor-textarea {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: transparent;
    color: #C1C4CB;
    border: none;
    outline: none;
    resize: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    line-height: 24px;
    white-space: pre-wrap;    
    overflow-wrap: break-word; 
}

.toolbar-popup {
  background-color: #333;
  color: white;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  gap: 10px;
  z-index: 1000; /* Ensures it stays ON TOP of everything else */
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}

.toolbar-popup button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
}